// reset css
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// colors
$light-gray-1: #f9f8f8;
$light-gray-2: #a8a7a7;
$dark-gray-1: #151010;
$twine-1: #fdf2e9;
$twine-2: #d9b5a5;
$twine-3: #c39556;
$twine-4: #5d3e32;
$secondary: #c42914;
$primary: #ef5814;
$vegetarian: #51cf66;
$vegan: #94d82d;
$paleo: #ffd43b;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

// base styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: $dark-gray-1;
  overflow-x: hidden;
}

p {
  margin-bottom: 1rem;
}

h1,
.title--primary,
h2,
.title--secondary,
h3,
.title--tertiary,
h4,
h5 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: $dark-gray-1;
}

h1,
.title--primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

h2,
.title--secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

h3,
.title--tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

h4,
.title--sub {
  font-size: 1.6rem;
  font-weight: 500;
  color: $primary;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.margin {
  &__right {
    &--small {
      margin-right: 1.6rem !important;
    }
  }

  &__bottom {
    &--md {
      margin-bottom: 4.8rem !important;
    }
  }
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  &:last-child {
    margin-bottom: 0;
  }

  &:not(:last-child) {
    margin-bottom: 9.6rem;
  }

  &__cols {
    &--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &--3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &--4 {
      grid-template-columns: repeat(4, 1fr);
    }

    &--5 {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &--vertical-center {
    align-items: center;
  }
}

.text-center {
  text-align: center;
}

.link {
  display: inline-block;
  color: $primary;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;

  &:hover,
  &:active {
    color: $twine-3;
    border-bottom: 1px solid transparent;
  }
}

// button styles
.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;

  &--fill {
    background-color: $primary;
    color: $light-gray-1;
    border: 1px solid $primary;

    &:hover,
    &:active {
      color: $primary;
      background-color: $light-gray-1;
    }
  }

  &--outline {
    background-color: $light-gray-1;
    color: $dark-gray-1;
    border: 1px solid $twine-1;

    &:active,
    &:hover {
      box-shadow: inset 0 0 0 3px $light-gray-1;
      border-color: $dark-gray-1;
    }
  }
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    color: $primary;
  }
}

.tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;

  & .tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $dark-gray-1;
    border-radius: 100px;
    font-weight: 600;

    &--vegetarian {
      background-color: $vegetarian;
    }

    &--vegan {
      background-color: $vegan;
    }

    &--paleo {
      background-color: $paleo;
    }
  }
}

// header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $twine-1;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;

  &__logo-img {
    height: 2.2rem;
  }

  &__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }

  &__nav-link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $dark-gray-1;
      font-weight: 500;
      font-size: 1.8rem;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $primary;
    }
  }

  &__nav-item-cta {
    border: 1px solid $primary;

    &:link,
    &:visited {
      padding: 1.2rem 2.4rem;
      border-radius: 9px;
      color: $light-gray-1;
      background-color: $primary;
    }

    &:hover,
    &:active {
      background-color: $light-gray-1;
      color: $primary;
    }
  }

  &__nav-btn {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
  }
}

// hero section
.hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;

  &__inner {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
  }

  &__text {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
  }

  &__delivered-container {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
  }

  &__delivered-images {
    display: flex;
  }

  &__delivered-image {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;

    &:last-child {
      margin: 0;
    }
  }

  &__delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
    color: $dark-gray-1;

    & span {
      color: $primary;
      font-weight: 700;
    }
  }

  &__image {
    width: 100%;
  }
}

// featured section
.featured {
  padding: 4.8rem 0 3.2rem 0;

  &__title {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: $light-gray-2;
  }

  &__images {
    display: flex;
    justify-content: space-around;
  }

  &__image {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
  }
}

// how works section
.how-works {
  padding: 9.6rem 0;

  &__step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: $light-gray-2;
    margin-bottom: 1.2rem;
  }

  &__step-text {
    font-size: 1.8rem;
    line-height: 1.8;
    color: $dark-gray-1;
  }

  &__step-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      width: 60%;
      padding-bottom: 60%;
      background-color: $twine-1;
      z-index: -2;
    }

    &::after {
      width: 45%;
      padding-bottom: 45%;
      background-color: $twine-2;
      z-index: -1;
    }
  }

  &__step-image {
    width: 35%;
  }
}

// meals section
.meals {
  padding: 9.6rem 0;

  &__item {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;

    &:hover {
      transform: translateY(-1.2rem);
      box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
    }
  }

  &__item-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }

  &__item-title {
    font-size: 2.4rem;
    color: $dark-gray-1;
    font-weight: 600;
    margin-bottom: 3.2rem;
  }

  &__item-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__item-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__item-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: $primary;
  }

  &__item-img {
    width: 100%;
  }

  &__btn-container {
    text-align: center;
    font-size: 1.8rem;
  }
}

.testimonials {
  background-color: $twine-1;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;

  &__inner {
    padding: 9.6rem;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
  }

  &__item-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }

  &__item-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }

  &__item-name {
    font-size: 1.6rem;
    color: $light-gray-2;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
  }

  &__gallery-item {
    overflow: hidden;
  }

  &__gallery-img {
    display: block;
    width: 100%;
    transition: all 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

// pricing section
.pricing {
  padding: 9.6rem 0;

  &__plan {
    border-radius: 11px;
    width: 75%;

    &--starter {
      justify-self: end;
      border: 2px solid $twine-1;
      padding: 4.6rem;
    }

    &--complete {
      background-color: $twine-1;
      padding: 4.8rem;
      position: relative;
      overflow: hidden;

      &::after {
        content: 'Best value';
        position: absolute;
        top: 6%;
        right: -18%;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
        color: #333;
        background-color: $paleo;
        padding: 0.8rem 8rem;
        transform: rotate(45deg);
      }
    }
  }

  &__plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
  }

  &__plan-name {
    color: $primary;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
  }

  &__plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: $dark-gray-1;
    margin-bottom: 1.6rem;

    & span {
      font-size: 3rem;
      font-weight: 500;
      margin-right: 0.8rem;
    }
  }

  &__plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: $light-gray-2;
  }

  &__plan-sing-up {
    text-align: center;
    margin-top: 4.8rem;
  }

  &__plan-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
  }
}
