// reset css
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// colors
$light-gray-1: #f9f8f8;
$light-gray-2: #a8a7a7;
$dark-gray-1: #151010;
$twine-1: #fdf2e9;
$twine-2: #d9b5a5;
$twine-3: #c39556;
$twine-4: #5d3e32;
$secondary: #c42914;
$primary: #ef5814;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

// base styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: $light-gray-1;
  overflow-x: hidden;
}

p {
  margin-bottom: 1rem;
}

h1,
.title-1,
h2,
.title-2,
h3,
.title-3,
h4,
h5 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: $dark-gray-1;
}

h1,
.title-1 {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

h2,
.title-2 {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

h3,
.title-3 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

h4,
.title-4 {
  font-size: 1.6rem;
  font-weight: 500;
  color: $primary;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
